@charset "UTF-8";

h1{
    text-align: center;
    color: #F4A460;
    padding: 0.5em 0;
    border-top: solid 3px #F4A460;
    border-bottom: solid 3px #F4A460;
     
}

a{
    text-decoration: inherit;
    color: #F08080;
}

#menu > ul{
    list-style: none;
    padding: 0.5em 0.5em;

}

#menu>ul>li{
    display: inline;
    margin: 0 16px 0 0;
    padding: 3px;
    border-bottom: solid 5px #EEE8AA;
    background: linear-gradient(#FFFFFF,#FAF0E6);
}

#menu>ul>li:hover{/*ボタン押したとき*/
    -webkit-transform: translateY(5px)
        transform: translateY(5px);/*下に動く*/
    border-bottom: none;/*線を消す*/
    
}

h2{
    background: #F08080;
    box-shadow: 0px 0px 0px 5px #F08080;
    border: dashed 2px #FFFFFF;
    padding: 0.2em 0.5em;
    color: #454545;
}

div{
    background: #FFF0F5
}

#filatime{
    text-align: center
}
/*以下ゼミ*/

.major12{
    font-size: 1.2em;
}
.economics{
    font-weight:bold;
    font-size: 1.2em;
}

/*以下趣味*/
.hobby12{
    font-size: 1.2em;
}
.takepicture{
    font-weight:bold;
    font-size: 1.2em;
}
.favorite12{
    font-size: 1.2em;
}



/*以下モダンダンス*/
#modern{
    font-size: 1.2em;
    font-weight:bold;
    
}
#modernd{
    padding: 0.3em 0.5em;
    border: double 6px #9370DB;
}

.flatbutton{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: #ECECEC;
    border-radius: 4px;
    transition: .4s;
    
}
.flatbutton:hover{
    background: #F08080;
    color: white;
}